<div class="container">
  <div class="row">
    <div class="cal">
      <h1 class="display-6">
        Cadastrar nova Conta
        <i class="fa-solid fa-comments-dollar"></i>
      </h1>
      <hr />

        <form [formGroup]="form" (ngSubmit)="onSubmit()">

          <div class="col-md-8">
            <label class="form-label mt-3">ClienteI:</label>
            <input
              formValuetype="text"
              class="form-control"
              formControlName="id"

            />
          </div>
          <div class="col-md-8">
            <label class="form-label mt-3">Agência:</label>
            <input
              formValuetype="text"
              class="form-control"
              formControlName="agencia"
              maxlength="4"
            />
          </div>
          <div class="col-md-8">
            <label class="form-label mt-3">Número da Conta:</label>
            <input
              formValuetype="text"
              class="form-control"
              formControlName="numero"
              maxlength="6"
            />
          </div>
          <div class="col-md-8">
            <label class="form-label mt-3">Saldo:</label>
            <input
              formValuetype="text"
              class="form-control"
              formControlName="saldo"
            />
          </div>
          <div class="col-md-8 ">
            <div class="d-flex justify-content-end">
              <button type="submit"
              class="btn btn-danger btn-sm float-right mt-4"
              [disabled]="!form.valid">

              <i class="fa fa-save"></i>Cadastrar

                </button>
        </div>
        </div>


        </form>

    </div>
  </div>
</div>
