
<ol class=" mb-4">
    <h2 class="breadcrumb-item active">Cadastro de clientes</h2>
</ol>
<div class="container">

  <form action="" #clientForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Id:</label>
          <input type="text"  class="form-control" name="id" [ngModel]="cliente.id" disabled="true">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Nome: *</label>
          <input type="text" class="form-control" name="nome" [(ngModel)]="cliente.nome" >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="">CPF: *</label>
          <input type="text" class="form-control" [(ngModel)]="cliente.cpf" name="cpf" >
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Observações:</label>
          <input type="text" class="form-control" [(ngModel)]="cliente.observacoes" name="Observações">
        </div>
      </div>
    </div>
    <div>
      <input type="checkbox" id="ativo" name="ativo" checked [(ngModel)]="cliente.ativo" >
      <label for="status">Ativo</label>
    </div>

    <div class="row d-flex justify-content-end">
      <div >
        <button type="submit" class="btn btn-dark"><i class="fa fa-save"></i>Cadastrar</button>
      </div>
    </div>
  </form>
</div>
