<header class=" py-4">
  <div class="container ">
      <div class="text-center text-white">
          <h1 class=" fw-bolder">Serviços</h1>
          <p class="lead fw-normal text-white-50 mb-0">Soluções digitais</p>

      </div>

  </div>
</header>
<section class="py-5">

  <div class="container ">
  <form >
    <div class="col-sm-11 my-1">
      <div class="input-group">
        <input class="form-control" type="search" placeholder="Pesquisar" aria-label="Search" style="border-right: none;">
        <div class="input-group-append">
          <div class="input-group-text" style="background-color: #FFF"><i class="fas fa-search"></i></div>
        </div>
      </div>
    </div>

</form>
  <div class="container px-4 px-lg-4 mt-5">
      <div class="row gx-4 gx-lg-3 row-cols-4 row-cols-md-10 row-cols-xl-4 justify-content-center">




        <div class="col-md-4 ml-auto">
          <div class="card  h-100">

              <div class="card-body p-4">
                  <div class="text-center">
                      <!-- Product name-->
                      <h5 class="fw-bolder">Contas</h5>
                      Das soluções simples às mais complexas, o BB tem a conta ideal para você.
                  </div>

              </div>
              <!-- Product actions-->
              <div class="card-footer">
                <div class="text-center"><a class="btn btn-outline-light mt-auto" routerLink="/contas" >Saber mais</a></div>
              </div>

          </div>
      </div>
      <div class="col-md-4 ml-auto">
        <div class="card  h-100">

            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">Clientes</h5>
                    Das soluções simples às mais complexas, o BB tem a conta ideal para você.
                </div>

            </div>
            <!-- Product actions-->
            <div class="card-footer">
              <div class="text-center"><a class="btn btn-outline-light mt-auto" routerLink="/clientes">Saber mais</a></div>
            </div>

        </div>
    </div>
    <div class="col-md-4 ml-auto">
      <div class="card  h-100">

          <div class="card-body p-4">
              <div class="text-center">
                  <!-- Product name-->
                  <h5 class="fw-bolder">Transferências</h5>
                  Das soluções simples às mais complexas, o BB tem a conta ideal para você.
              </div>

          </div>
          <!-- Product actions-->
          <div class="card-footer">
            <div class="text-center"><a class="btn btn-outline-light mt-auto" routerLink="/transferencia">Saber mais</a></div>
          </div>

      </div>
  </div>
        </div>
  </div>
  <div class="container px-4 px-lg-4 mt-5">
    <div class="row gx-4 gx-lg-3 row-cols-4 row-cols-md-10 row-cols-xl-4 justify-content-center">




      <div class="col-md-4 ml-auto">
        <div class="card  h-100">

            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">Extrato</h5>
                    Das soluções simples às mais complexas, o BB tem a conta ideal para você.
                </div>

            </div>
            <!-- Product actions-->
            <div class="card-footer">
              <div class="text-center"><a class="btn btn-outline-light mt-auto" >Saber mais</a></div>
            </div>

        </div>
    </div>
        <div class="col-md-4 ml-auto">
          <div class="card  h-100">

              <div class="card-body p-4">
                  <div class="text-center">
                      <!-- Product name-->
                      <h5 class="fw-bolder">Saques</h5>
                      Das soluções simples às mais complexas, o BB tem a conta ideal para você.
                  </div>

              </div>
              <!-- Product actions-->
              <div class="card-footer">
                <div class="text-center"><a class="btn btn-outline-light mt-auto" routerLink="/saque">Saber mais</a></div>
              </div>

          </div>
      </div>
      <div class="col-md-4 ml-auto">
        <div class="card  h-100">

            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">Depósitos</h5>
                    Das soluções simples às mais complexas, o BB tem a conta ideal para você.
                </div>

            </div>
            <!-- Product actions-->
            <div class="card-footer">
              <div class="text-center"><a class="btn btn-outline-light mt-auto" >Saber mais</a></div>
            </div>

        </div>
    </div>
      </div>
 </div>
</div>
</section>

  <!-- Page Heading -->

