<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="index.html"> <h3>Meu banco</h3> </a>
  <button class="btn btn-link btn-lg order-0 order-lg-0" id="sidebarToggle" href="#">
    <i class="fas fa-bars"></i>
  </button>
  <div class="ml-auto p-2 bd-highlight">
    <div class="collapse navbar-collapse d-flex justify-content-end  " id="navbarSupportedContent" >
      <ul class=" navbar-nav  me-auto mb-2 mb-lg-0  " >
        <li class="nav-item ">
          <a class="nav-link pe-auto"  routerLinkActive="active" >Sair</a>
        </li>
        </ul>
        </div>
      </div>
</nav>

